.form-select{
    width: 17%;
    height: 35px;
    outline: none !important;
    border: none !important;
    margin-right: -10px;
    /* box-shadow: none !important;
    outline: none !important; */
    /* background: white; */
    box-shadow: 0 11px 24px 11px rgb(0 0 0 / 5%);
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
.search{
    outline: none;
    width: 100%;
    border: none;
    height: 35px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 11px 24px 11px rgb(0 0 0 / 5%);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 18px;
}
.btn_search{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(89 19 130) 54%, rgba(9,9,121,1) 81%);
    color: white;
    outline: none;
    border: 0;
    transform: translate(-92px, 1px);
    width: 100px;
    height: 35px;
    border-radius: 6px;
}
.marg{
    margin-left: 28px;
}
.row {
 --bs-gutter-x: 0rem !important;
}
@media screen and (max-width: 640px) {
    .form-select{
        display: none;
    }
    .search_res{
        margin-left: 0px !important;
    }
     .marg{
        margin-left: 17px !important;
 }
    /* .marg{
        padding: 10px;
    } */
   .search{
    padding: 22px !important;
   }
    .btn_search{
        display: none;
    }
    .mobile_search{
        display: block !important;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(89 19 130) 54%, rgba(9,9,121,1) 81%);
        /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(89 19 130) 54%, rgba(9,9,121,1) 81%); */
        /* color: white; */
        outline: none;
        border: 0;
        /* transform: translate(-5px, 1px); */
        width: 67px;
        /* height: 32px; */
        border-radius: 6px;
        /* background: white; */
        box-shadow: 0 11px 24px 11px rgb(0 0 0 / 5%);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    height: 35px;
    }
    .search_icon{
        height: 43px;
        /* color: white !important; */
        
    }
    .clr_search_icon{
        color: white !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0px !important;
    }
}