::-webkit-scrollbar {
  width: 10px;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #FFFFFF; 
   */
   /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(46 80 87) 54%, rgba(9,9,121,1) 81%); */
   background-color: #E5E6E7;
  border-radius: 10px;
  height: 20px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(89 19 130) 54%, rgba(9,9,121,1) 81%);
}


body::-webkit-scrollbar {
  width: 0.5em
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(250, 246, 246, 0.3);
}

body::-webkit-scrollbar-thumb {
  /* background-color: #1D1D1D; */
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(89 19 130) 54%, rgba(9,9,121,1) 81%);
  outline: 1px solid #1D1D1D;
  border-radius: 20px !important;
  height: 30px !important;
}

body::-webkit-scrollbar {
  width: 0.5em;
  height: 30px !important;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(250, 246, 246, 0.3);
  height: 30px !important;
}

body::-webkit-scrollbar-thumb {
  /* background-color: #1D1D1D; */
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(89 19 130) 54%, rgba(9,9,121,1) 81%);
  outline: 1px solid #1D1D1D;
  border-radius: 20px !important;
  height: 30px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 10px !important;
}
h5{
  font-size: 14px !important;
}
th,td{
  font-size: 14px !important;
}
button{
  font-size: 15px !important;
}
.chain_box{
  padding: 34px !important;
}
.text_filter p{
  font-size: 14px !important;
}
.css-b62m3t-container{
  width: 170px !important;
}
/* .recharts-pie-sector{
  display: none !important;
} */
@media screen and (max-width: 640px) {
  p{
    font-size: 14px !important;
  }
  h5{
    font-size: 14px !important;
  }
  th,td{
    font-size: 14px !important;
  }
  .table{
    margin-top: 0px !important;
  }
  .mobile_stake h5{
    margin-left: 0px !important;
  }
}